---
import Badge from '@/components/Badge.astro';
import { Button } from '@/components/ui/button';
import { Section } from '@/components/ui/section';
---

<Section>
    <div class="container bg-light py-20 rounded-4xl relative overflow-hidden isolate">
        <div
            class="absolute inset-0 -z-10 pointer-events-none bg-gradient-to-br from-primary/12 via-transparent to-primary/10"
        >
        </div>
        <div class="flex flex-col gap-10 lg:gap-16">
            <div class="flex flex-col items-center gap-y-5 text-center">
                <Badge title="Get Started Today" />
                <h2 class="mx-auto mb-2 text-h3 lg:text-h2 [&_strong]:text-primary lg:col-7">
                    Ready to take control of your <strong>business finances?</strong>
                </h2>
                <p class="mx-auto text-text text-h6-sm lg:col-6">
                    Join hundreds of businesses using Quick Office. Start free, no card required.
                </p>
                <Button href="/pricing" class="mt-9">Start My Free Trial</Button>
            </div>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 h-1/2 w-full overflow-hidden">
            <canvas class="heroSporeCanvas w-full"></canvas>
        </div>
    </div>
</Section>
