---
import Badge from '@/layouts/components/Badge.astro';
---

<section class="section">
    <div class="container bg-light py-20 rounded-4xl relative overflow-hidden isolate">
        <div class="section-container">
            <div class="section-intro centralize">
                <Badge title="Get Started Today" />
                <h2 class="title hasHighlight lg:col-7">
                    Ready to take control of your <strong>business finances?</strong>
                </h2>
                <p class="subtitle text-h6-sm lg:col-6">
                    Join hundreds of businesses using Quick Office. Start free, no card required.
                </p>
                <a href="/pricing" class="btn btn-primary mt-9">Start My Free Trial</a>
            </div>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 h-1/2 w-full overflow-hidden">
            <canvas class="heroSporeCanvas w-full"></canvas>
        </div>
    </div>
</section>
