---
import type { ImageMetadata } from 'astro';
import ImageMod from '@/components/ImageMod.astro';
interface Props {
    logo: ImageMetadata | string;
    title: string;
    list?: string[];
}
const { logo, title, list } = Astro.props;
---

<div class="p-8 rounded-2xl bg-black/5">
    <ImageMod src={logo} alt={`${title} icon`} class="mb-6" />
    <h3 class="text-h5-sm font-bold">{title}</h3>
    <ul class="stars-list mt-5 text-text-dark">
        {list?.map((item) => <li>{item}</li>)}
    </ul>
</div>

<style>
    ul.stars-list {
        @apply list-none pl-0;
        li {
            @apply relative mb-3 pl-6;

            &::before {
                content: '';
                @apply absolute left-0 mt-0.5 size-4 translate-y-[4px];
                background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTggMEM4IDAgNy45MTQ4MiA0LjQ4Njc3IDkuNzE0MDQgNi4yODU5NkMxMS41MTMyIDguMDg1MTcgMTYgOCAxNiA4QzE2IDggMTEuNTEzMiA3LjkxNDgyIDkuNzE0MDQgOS43MTQwNEM3LjkxNDgyIDExLjUxMzIgOCAxNiA4IDE2QzggMTYgOC4wODUxNyAxMS41MTMyIDYuMjg1OTYgOS43MTQwNEM0LjQ4Njc3IDcuOTE0ODIgMCA4IDAgOEMwIDggNC40ODY3NyA4LjA4NTE3IDYuMjg1OTYgNi4yODU5NkM4LjA4NTE3IDQuNDg2NzcgOCAwIDggMFoiIGZpbGw9IiNBNkExQTkiLz4KPC9zdmc+Cg==');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 16px 16px;
            }
        }
    }
</style>
