---
import { cn } from '@/lib/utils';

interface Props {
    class?: string;
    sm?: boolean;
    [key: string]: unknown;
}

const { class: className, sm = false, ...rest } = Astro.props;
---

<div class={cn('mx-auto px-8', sm ? 'xl:max-w-5xl!' : 'xl:max-w-330.5!', className)} {...rest}>
    <slot />
</div>
