---
import { SiteLayout } from '@/layouts/site-layout';
import { PageHeader } from '@/components';
---

<SiteLayout title="Terms and Conditions" description="Read the Terms and Conditions for using Quick Office.">
    <PageHeader title="Terms and Conditions" subtitle="" />
    <section class="section-sm">
        <div class="container">
            <div class="row justify-center">
                <div class="lg:col-10">
                    <div class="content">
                        <h4>Responsibility of Contributors</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus. Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus.</p>
                        <h4>Gathering of Personal Information</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus. Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus.</p>
                        <h4>Protection of Personal Information</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus. Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus.</p>
                        <h4>Privacy Policy Changes</h4>
                        <ol>
                            <li>All the Quick Office items are designed to be with the latest standards.</li>
                            <li>Comments that threaten or harm the reputation of any person or organization are not allowed.</li>
                            <li>Personal information including, but not limited to, email addresses, telephone numbers.</li>
                            <li>Any update to the technology will result in automatic notification to customers.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</SiteLayout>
