---
import { siteName } from '@/lib/config';

import ImageMod from '@/layouts/components/ImageMod.astro';

const logo = '/images/logo.svg';
const width = 190;
const height = 45;
---

<a href="/" class="navbar-brand inline-block">
    <ImageMod
        src={logo}
        class="inline-block"
        width={width * 2}
        height={height * 2}
        alt={siteName}
        format="webp"
        style={{
            height: `${height}px`,
            width: `${width}px`,
        }}
    />
</a>
