---
import { siteName } from '@/lib/config';
import { logo } from '@/lib/assets';
---

<a href="/" class="inline-block text-xl font-semibold text-text-dark">
    <img
        src={logo}
        alt={siteName}
        width={190}
        height={45}
        class="inline-block"
        style="height:45px;width:190px"
        loading="eager"
    />
</a>
