---
interface Props {
    title: string;
    content?: string;
}
const { title, content } = Astro.props;
---

<div class="group mb-6 overflow-hidden rounded-2xl border border-border bg-black/5">
    <button
        class="flex w-full cursor-pointer items-center justify-between border-b border-transparent py-4 pr-4 pl-8 text-left text-lg text-text-dark group-[&.active]:border-border"
        data-accordion
    >
        {title}
        <svg
            class="size-6.5 -rotate-90 rounded-full bg-black/5 p-1.5 transition-transform duration-200 group-[&.active]:rotate-0"
            viewBox="0 0 11 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M0.75 5.41602H10.0833"
                stroke="var(--color-text-dark)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M5.41663 10.083L5.41663 0.749675"
                class="group-[&.active]:hidden"
                stroke="var(--color-text-dark)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
    </button>
    <div class="max-h-0 overflow-hidden px-8 py-0 text-text group-[&.active]:max-h-screen group-[&.active]:py-5">
        {content}
    </div>
</div>
