---
const { source, className } = Astro.props;
import DynamicIcon from '@/components/helpers/DynamicIcon';

export interface ISocial {
    name: string;
    icon: string;
    link: string;
}
---

<ul class={`social-icons ${className ?? ''}`}>
    {
        source.map((social: ISocial) => (
            <li>
                <a aria-label={social.name} href={social.link} target="_blank" rel="noopener noreferrer nofollow">
                    <span class="sr-only">{social.name}</span>
                    <DynamicIcon className="inline-block" icon={social.icon} />
                </a>
            </li>
        ))
    }
</ul>

<style>
    .social-icons {
        @apply space-x-4;
    }
    .social-icons li {
        @apply inline-block;
    }
    .social-icons li a {
        @apply flex size-11 items-center justify-center rounded-full bg-black/5 text-center text-lg leading-9 text-text-dark transition-all duration-200 hover:bg-black/10;
    }
    .social-icons li a svg {
        @apply size-5;
    }
</style>
