---
const { source, className } = Astro.props;
import DynamicIcon from '@/components/helpers/DynamicIcon';

export interface ISocial {
    name: string;
    icon: string;
    link: string;
}
---

<ul class={`flex gap-4 ${className ?? ''}`}>
    {
        source.map((social: ISocial) => (
            <li class="inline-block">
                <a
                    aria-label={social.name}
                    href={social.link}
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="flex size-11 items-center justify-center rounded-full bg-black/5 text-center text-lg leading-9 text-text-dark transition-all duration-200 hover:bg-black/10"
                >
                    <span class="sr-only">{social.name}</span>
                    <DynamicIcon className="inline-block size-5" icon={social.icon} />
                </a>
            </li>
        ))
    }
</ul>
